section.pagetitle {
  font-family: Lato;
  display: flex;
  height: 50px;

  background-color: #E6F1FC;
  border-top: 0.5px solid $light-blue;
  border-bottom: 0.5px solid $light-blue;
  width: 100%;
  margin-bottom: 25px;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    color: $light-blue;
  }
}

.galleryrow {
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 8px;
}


.hide{
  display: none;
}
.btn{

      background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.column {
  flex: 25%;
  max-width: 20%;
  padding: 0 8px;

  .one
  div {

    position: relative;
    bottom: 1.5vw;
    font-size: 1.3vw;
    left: 2vw;
    color: #D9E1E8;
    line-height: 0;
  }

  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;

    &:hover {
      filter: brightness(150%);
    }
  }
}
 @media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
    .one div{
      bottom: 3.5vw;
      font-size: 3.3vw;
    }
  }
}
 @media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    .one div{
      bottom: 6vw;
      font-size: 4.5vw;
        left: 4.2vw;
    }
  }
}
